{% extends "base.html.twig" %}

{% block body %}
    <h1>Page non trouvée</h1>
    <p>La page que vous cherchez n'a pas été trouvée.</p>
    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('dashboard_page') }}">return to the homepage</a>.
    </p>
{% endblock %}